#body-1{
    width: 1920px;
    height: 1800px;
    font-family: Arial, sans-serif;
}
.section {
  position: relative;
  padding: 200px;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform-origin: left;
}
#sec-1{
  background-color: #ff88f9;
}
#sec-2{
  background-color: aqua;
}

.line1::before {
  background-color: #000;
  transform: skewY(0deg);
}

.line2::before {
  background-color: #ff0000;
  transform: skewY(-3deg);
}

.line3::before {
  background-color: #00ff00;
  transform: skewY(4deg);
}

.line4::before {
  background-color: #0000ff;
  transform: skewY(-5deg);
}

  #logo
{
    z-index: 11;
    height: 45px;
    position: relative;
    top: 0%;
    left: 2%;
    border:3px solid rgb(255, 255, 255) ;
    border-radius: 10px;
}
/* This nav bar is used for evey page*/
/* Nav bar Group */
#navbar
{
    z-index: 10;
    background-color: rgb(242, 210, 255);
    position: fixed;
    top: 0;
    
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-button
{
    margin-left: 2%;
    text-decoration: none;
    margin-left: 50%;
    font-size: 30px;
    color: rgb(0, 0, 0); 
}
.button
{
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.third-button
    
  {
    font-weight: bold;
      height: 40px;
      width: 200px;
      text-decoration: none;
      background-color: #dceaff;
      border-radius: 10px;
      margin-left: 20px;
      font-size: 30px;
      color: (0, 0%, 0%);
      text-align: center;
  }
