body
{
    background: linear-gradient(to bottom left, rgb(241, 207, 255), #d0e3ff);
    height: 1600px;
      width: 100%;
      margin: 0;
      margin-left: 0%;
      margin-right: 0%;
      font-family: Arial, sans-serif;
}
#navbar
{
    z-index: 10;
    background-color: rgb(242, 210, 255);
    position: fixed;
    top: 0;
    left: 15%;
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo
{
    z-index: 11;
    height: 45px;
    position: relative;
    top: 0%;
    left: 2%;
    border:3px solid rgb(255, 255, 255) ;
    border-radius: 10px;
}
.first-button
{
    height: 40px;
    width: 90px;
    text-decoration: none;
    margin-left: 50%;
    font-size: 30px;
    color: black;
    text-align: center;
}
.About-button
{
    margin-left: 20px;
    font-weight: bold;
    height: 40px;
    width: 90px;
    text-decoration: none;
    background-color: #dceaff;
    border-radius: 10px;
    font-size: 30px;
    color: (0, 0%, 0%);
    text-align: center;
}
.button
{
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

#About-Banner
{
  background-color: #fee1fa;
  height: 500px;
  display: flex;
  margin-left: 15%;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 70%;
}

#Our-Aim-Banner
{
    margin-left: 15%;
  width: 70%;
  background-color: #c7ddff;
  height: 500px;
  position: relative;
  top: -50px;
  text-align: center;
}
#Our-Aim-Banner-Heading
{
    position: relative;
    top: 50px;
}
#Our-Aim-Banner-Text
{
    position: relative;
    top: 50px;
    left: 25%;
    width: 50%;
}

/* Ivailo-MEMBER PLACEHOLDER */
#Ivailo
{
    position: relative;
    top: -50px;
    left: 4%;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: rgba(189, 189, 81, 0.57);
    opacity: 0.8;
}
#IvailoPic
{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    position: relative;
    top: 50px;
}
#IvailoHeading
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}
#Ivailotext
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}

/* Kaloqn-MEMBER PLACEHOLDER */
#Kaloqn
{
    position: relative;
    top: -450px;
    left: 27%;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: rgba(71, 98, 180, 0.492);
    opacity: 0.8;
}
#KaloqnPic
{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    position: relative;
    top: 50px;
}
#KaloqnHeading
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}
#Kaloqntext
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}

/* MEMBER PLACEHOLDER */
#Gabriel
{
    position: relative;
    top: -850px;
    left: 50%;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: rgba(180, 47, 47, 0.497);
    opacity: 0.8;
}
#GabrielPic
{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    position: relative;
    top: 50px;
}
#GabrielHeading
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}
#Gabrieltext
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}

/* MEMBER PLACEHOLDER */
#Kris
{
    position: relative;
    top: -1250px;
    left: 74%;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background-color: rgba(98, 180, 98, 0.504);
    opacity: 0.8;
}
#KrisPic
{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    position: relative;
    top: 50px;
}
#KrisHeading
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}
#Kristext
{
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
}
#EndPage
{
  position: relative;
    top: -5%;
    left: 15%;
    width: 70%;
  height: 100px;
  background: linear-gradient(to bottom left, rgb(236, 188, 255), #bdd7ff);
  text-align: end;
  
}