#body-1{
    width: 100%;
    height: 1800px;
    font-family: Arial, sans-serif;
   
}
.section {
  position: relative;
  padding: 200px;
  border: 4px solid transparent;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: left;
}
#ppp{
  
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
}


  
#sec1{
  background-color: rgb(241, 207, 255);
  
  
}
#sec2{
  background-color:  rgb(248, 230, 255);
  
}


#pic{
  width: 300px;
  height: 300px;
  margin-left:25% ;
}

  #logo
{
    z-index: 11;
    height: 45px;
    position: relative;
    top: 0%;
    left: 2%;
    border:3px solid rgb(255, 255, 255) ;
    border-radius: 10px;
}
/* This nav bar is used for evey page*/
/* Nav bar Group */
#navbar
{
  
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    z-index: 10;
    background-color: #d0e3ff;
    position: fixed;
    top: 0;
    
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-button
{
    margin-left: 2%;
    text-decoration: none;
    margin-left: 50%;
    font-size: 30px;
    color: rgb(0, 0, 0); 
}
.button
{
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.third-button
    
  {
    font-weight: bold;
      height: 40px;
      width: 200px;
      text-decoration: none;
      background-color: #dceaff;
      border-radius: 10px;
      margin-left: 20px;
      font-size: 30px;
      color: (0, 0%, 0%);
      text-align: center;
  }
