/* CSS of index.html */
/* Made by Ivailo*/
body
{
  background: linear-gradient(to bottom left, rgb(241, 218, 252), #d0e2ff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#container {
  position: relative;
  background-color: #d0e3ff;
  max-width: 100%;
  margin: 0 auto;
}
#navbar
{
    z-index: 10;
    background-color: rgb(248, 230, 255);
    position: sticky;
    top:0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo
{
    z-index: 11;
    height: 45px;
    position: relative;
    top: 0%;
    left: 2%;
    border:3px solid rgb(255, 255, 255) ;
    border-radius: 10px;
}
.first-button
{
  background-color: #dceaff;
      border-radius: 10px;
    width: 90px;
    text-decoration: none;
    margin-left: 30%;
    font-size: 30px;
    color: black;
    text-align: center;
}
  .button
{
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.Banner
{
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
#First-Banner-img
{
  display: block;
  width: 100%;
  height: 600px;
}
#Banner-Text-One
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 10%;
  width: 40%;
  border-radius: 20px;
  text-align: center;
  font-size:large;
  color: #fff;
  opacity: 0.7;
}
#Second-Banner
{
  margin: 0;
  padding: 0;
  margin-top: -10px;
  position: relative;
  max-width: 100%;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #d0e3ff;
}
#Second-Banner-Heading
{
  text-align: center;
  color: #000000;
  font-size: 50px;
}
#Second-Banner-Text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 40%;
  border-radius: 20px;
  font-size: 2em;
  text-align: center;
  color: #000000;
}
#Learn-more-button
{
  position: absolute;
  top: 80%;
  left: 50%;
  text-align: center;
  color: #000000;
  font-size: 40px;
  transform: translate(-50%, -50%);
  max-height: 20%;
  min-height: 15%;
  width: 20%;
  background-color: #98c1ff;
  text-decoration: none;
  border-radius: 20px;
}
#Third-Banner
{
  margin: 0;
  padding: 0;
  margin-top: -10px;
  position: relative;
  max-width: 100%;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to bottom left, rgb(241, 207, 255), #d0e3ff);
}
#OurTech1
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;
  border-radius: 20px;
}
#OurTechImg1
{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  height: auto;
  width: 20%;
  border-radius: 20px;
  opacity: 0.5;
}
#OurTech2
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 30%;
  border-radius: 20px;
}
#OurTechImg2
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 20%;
  border-radius: 20px;
  font-size: 2em;
  opacity: 0.6;
  filter: brightness(0.7);
}
#OurTechimg2text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  font-size:large;
  color: #000000;
}
#OurTech3
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 20%;
  border-radius: 20px;
  font-size: 2em;
}
#OurTechImg3
{
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-90%, -50%);
  height: auto;
  width: 20%;
  border-radius: 20px;
  font-size: 2em;
  opacity: 0.5;
}
#EndPage
{
  text-align: end;
}