#body-1{
    width: 1920px;
}
.section {
    position: relative;
    padding: 170px;
  }
  
  .section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: skewY(-10deg);
    transform-origin: left;
  }
  #logo
{
    z-index: 11;
    height: 45px;
    position: relative;
    top: 0%;
    left: 2%;
    border:3px solid rgb(255, 255, 255) ;
    border-radius: 10px;
}
/* This nav bar is used for evey page*/
/* Nav bar Group \/ */
#navbar
{
    z-index: 10;
    background-color: rgb(242, 210, 255);
    position: fixed;
    top: 0;
    
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-button
{
    margin-left: 2%;
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0); 
}
.button
{
    text-decoration: none;
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.third-button
    
  {
    font-weight: bold;
      height: 40px;
      width: 125px;
      text-decoration: none;
      background-color: #dceaff;
      border-radius: 10px;
      margin-left: 2%;
      font-size: 30px;
      color: (0, 0%, 0%);
      text-align: center;
  }
