body
{
    height: 2000px;
    width: 100%;
    margin: 0;
    background-color: rgb(150, 208, 255);
}
#navbar
{
    background-color: rgb(236, 189, 255);
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
}
.first-button
{
    margin-left: 50%;
    font-size: 30px;
    color: (0, 0%, 0%);
}
.button
{
    margin-left: 20px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
#banner-img
{
    width: 100%;
    height: auto;
}
#First-Banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}